@charset "utf-8";

table {
	text-align: center;
	font-weight: bold;
	font-family: arial;
	color: #000000;
	border-collapse: collapse;
	border-color: #000000;
	border-style: solid;
	border-width: 2px;
	width: 600px;
}

table thead tr {
	height: 30px;
	vertical-align: text-top;
}

table tbody tr {
	height: 30px;
	vertical-align: text-top;
}

table tbody tr.colorFila01 {
	background-color: #5880BB;
}

table tbody tr.colorFila02 {
	background-color: #C9D9F0;
}

table thead th {
	border-collapse: collapse;
	border-color: #000000;
	border-style: solid;
	border-width: 2px;
	background-color: #EE9451;
}

table tbody td {
	border-collapse: collapse;
	border-color: #000000;
	border-style: solid;
	border-width: 2px;
}

